# Copy this file to phpstan.neon and replace {VENDOR_DIR} with the appropriate
# path.

includes:
	- phpstan.neon.dist

parameters:
	# Avoid error "Call to an undefined method CRM_Core_DAO::tableName()."
	scanFiles:
		- {VENDOR_DIR}/civicrm/civicrm-packages/DB/DataObject.php
	scanDirectories:
		- {VENDOR_DIR}/civicrm/civicrm-core/CRM/
	bootstrapFiles:
		- {VENDOR_DIR}/autoload.php
