includes:
	- phpstan.neon.dist

parameters:
	# Avoid error "Call to an undefined method CRM_Core_DAO::tableName()."
	scanFiles:
		- vendor/civicrm/civicrm-packages/DB/DataObject.php
	scanDirectories:
		- vendor/civicrm/civicrm-core/CRM
	bootstrapFiles:
		- vendor/autoload.php
	# Because we test with different versions in CI we may have unmatched errors.
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# Errors we get when using "prefer-lowest"

		# Required with symfony/event-dispatcher <4.4.27
		- '#::getSubscribedEvents\(\) return type has no value type specified in iterable type array.$#'
